Qns-18 Implement a code to find the intersection of two given lists

In [ ]:
#Answer
List_1 = [2, 5, "ram", 8, 15]
List_2 = [15, 6.7, 9, "ram", 2]
Intersection_list = set(List_1) & set(List_2)
intersection_list = list(Intersection_list)  # Rename the variable
print(intersection_list)

[2, 'ram', 15]

Qns-19 Create a code to find the union of two lists without duplicates

In [25]:
#Answer
List_1=[1,88,74,56,5]
List_2=[5,6,88,95,71]
union_list=set(List_1) | set(List_2)
print(list(union_list))

[1, 5, 6, 71, 74, 56, 88, 95]

Qns-20 Write a code to shuffle a given list randomly without using any built-in shuffle functions

Qns-21 Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
#Answer
Tuple1=input("Enter the first tuple:")
Tuple2=input("Enter the second tuple:")
Tuple3=tuple(set(Tuple1)&set(Tuple2))
print(Tuple3)

Qns-22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [20]:
#Answer
Set1=input("Enter the first set of integers (separated by commas):")
Set2=input("Enter the second set of integers (separated by commas):")
Set1=set(map(int,Set1.split(",")))
Set2=set(map(int,Set2.split(",")))
Set3=set(Set1)&set(Set2)
print(Set3)

Enter the first set of integers (separated by commas):5,6,7,8,9
Enter the second set of integers (separated by commas):5,6,7,9,8,5,8,5
{5, 6, 7, 8, 9}

Qns-23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [22]:
#Answer
Tuple_1_input = input("Enter the first tuple (separated by commas): ")
Tuple_2_input = input("Enter the second tuple (separated by commas): ")
Tuple_1 = tuple(map(int, Tuple_1_input.split(',')))
Tuple_2 = tuple(map(int, Tuple_2_input.split(',')))

# Concatenate the two tuples
Tuple_3 = Tuple_1 + Tuple_2
print("The concatenated tuple is:", Tuple_3)

Enter the first tuple (separated by commas): 1,2,3,4,5
Enter the second tuple (separated by commas): 1,2,3,4,5
The concatenated tuple is: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

Qns-24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
#Answer
set_1_input = input("Enter the first set of strings:")
set_2_input = input("Enter the second set of strings:")
set_1 = set(set_1_input.split(','))
set_2 = set(set_2_input.split(','))
difference_set = set_1 - set_2
print("The elements in the first set but not in the second set are:", difference_set)

Enter the first set of strings:banana,apple,cherry
Enter the second set of strings:apple
The elements in the first set but not in the second set are: {'banana', 'cherry'}

Qns-25 Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
#Answer
Tuple_input = input("Enter the tuple (separated by commas): ")
Start_index = int(input("Enter the start index: "))
End_index = int(input("Enter the end index: "))
result_tuple = tuple(map(int, Tuple_input.split(',')))
result_tuple = result_tuple[Start_index:End_index]
print("The new tuple is:", result_tuple)

Enter the tuple (separated by commas): 10,20,30,40,50
Enter the start index: 1
Enter the end index: 5
The new tuple is: (20, 30, 40, 50)

Qns-26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
Set1_input=input("Enter the first set of characters (sepearted by commas):")
Set2_input=input("Enter the second set of characters (seperated by commas):")
Set1=set(Set1_input.split(","))
Set2=set(Set2_input.split(","))
union_set=Set1|Set2
print(f'The union of the two sets is:{union_set}')

Qns-27  Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
# Answer
input_tuple = tuple(map(int, input("Enter integers separated by spaces: ").split()))
max_value= max(input_tuple)
min_value=min(input_tuple)
# Output the results
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Enter integers separated by spaces: 10 500 60 890 5
Maximum value: 890
Minimum value: 5

Qns-28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
Set_1={1,2,3,4,5}
Set_2={4,5,6,7,8}
union_set=Set_1|Set_2
intersection_set=Set_1&Set_2
difference_set=Set_1-Set_2
print(f"The union of the two sets is:{union_set}")
print(f"The intersection of the two sets is:{intersection_set}")
print(f"The difference of the two sets is:{difference_set}")

The union of the two sets is:{1, 2, 3, 4, 5, 6, 7, 8}
The intersection of the two sets is:{4, 5}
The difference of the two sets is:{1, 2, 3}

Qns-29 Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [ ]:
Tuple_input = input("Enter the tuple (separated by commas):")
Element_input=input("Enter the element:")
Tuple=tuple(map(int,Tuple_input.split(",")))
Element=int(Element_input)
count=Tuple.count(Element)
print(f"The element {Element} appears {count} times in the tuple.")

Enter the tuple (separated by commas):1,2,3,4,5,6,7,8,9,1,2,3,4,5,6
Enter the element:1
The element 1 appears 2 times in the tuple.

Qns-30  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
#Answer
set1_input = input("Enter the first set of strings (separated by commas): ")
set2_input = input("Enter the second set of strings (separated by commas): ")
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))
symmetric_difference = set1.symmetric_difference(set2)

# Printing the result
print(f"The symmetric difference between the two sets is: {symmetric_difference}")

Enter the first set of strings (separated by commas): banana, cherry, apple
Enter the second set of strings (separated by commas): guava, potato, apple
The symmetric difference between the two sets is: {'guava', 'banana', ' potato', ' cherry'}

Qns-31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [8]:
# Answer
words_list =input("Enter the list of words (separated by space):").split()
word_count = {}
for word in words_list:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

Enter the list of words (separated by space):apple banana apple banana orange
{'apple': 2, 'banana': 2, 'orange': 1}

qns-32  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together&

In [ ]:
dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))
merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

# Output the merged dictionary
print(merged_dict)

Qns-33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [44]:
#Answer
nested_dict = {
    'apple': {'color': 'red', 'price': 2},
    'banana': {'color': 'yellow', 'price': 1},
    'cherry': {'color': 'red', 'price': 3}
}
key_path = input("Enter the list of keys separated by commas (e.g., 'apple,color'): ").split(',')
value = nested_dict
for key in key_path:
    if key not in value:
        value = None
        break
    value = value[key]
if value is not None:
    print("Value:", value)
else:
    print("Key not found.")

Enter the list of keys separated by commas (e.g., 'apple,color'): apple,price
Value: 2

Qns-34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

Qns-35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [52]:
input_dict = input("Enter the dictionary (key:value pairs, e.g., 'apple:2,banana:3'): ")
input_dict = {item.split(':')[0].strip(): item.split(':')[1].strip() for item in input_dict.split(',')}
inverted_dict = {}

for key, value in input_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
# Output the inverted dictionary
print("Inverted Dictionary:", inverted_dict)

Enter the dictionary (key:value pairs, e.g., 'apple:2,banana:3'): 'apple:2,banana:3'
Inverted Dictionary: {'2': ["'apple"], "3'": ['banana']}